.snippet {
    width: 670px;
    font-family: monospace;
    position: relative;

    .code-lines {
        position: relative;
        left: 40px;
        padding: 10px;
        border: 1px solid @lightGrey;
        .border-radius(7px);

        .line {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }

    .line-counters {
        position: absolute;
        top: 0;
        font-weight: bold;

        p {
            width: 30px;
            text-align: right;
            position: absolute;
        }
    }
}
