// Colour scheme
@black:             #000;
@darkerGrey:        #333;
@darkGrey:          #555;
@mediumGrey:        #AAA;
@lightGrey:         #E6E6E6;
@lighterGrey:       #F0F0F0;
@offWhite:          #FBFBFB;
@white:             #FFF;

@orange:            #FF7F2A;
@darkOrange:        #D45500;

@darkBlue:          #1B749D;
@mediumBlue:        #22A2CA;
@lightBlue:         #60CAE1;

@darkSheer:         rgba(0, 0, 0, 0.5);

// Dimensions and positioning
@fixedWidth:        960px;
@headerHeight:      100px;
@headerIconHoverY:  -60px;
