/*** setup ***/
html { background:#EEEEEC; color: #575955; height: 100%;}
body { font:16px/1.5 Verdana,sans-serif; color: white; height: 100%;}
#header {
    background: #4877B1; color: white;
    padding: 4px 0 12px 0; text-align: left;

    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #6F9DCD', endColorstr='#4877B1');
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom, from( #6F9DCD), to(#4877B1));
    /* for firefox 3.6+ */
    background: -moz-linear-gradient(top,   #6F9DCD,  #4877B1);
}

#container {
    min-height: 100%;
}

#header h1 a { color: #EEEEEC; margin-left: 1em}

#columnwrap {
    background: #EEEEEC; color: black;
    /*background-image: url("agora-grey-large.png");*/
    background-position: bottom right;
    background-repeat: no-repeat;
    overflow: auto;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 60px;
}

#footer {
    background-color: #BABDB6; font-size:80%;
    padding-top: 0.75em; text-align:center;
    padding-bottom: -150px;
    position: relative;
    clear:both;
    height: 60px;
    margin-top: -60px;
}

.info{
    overflow: hidden;
}

.error, .errorlist{
    color: #ef2929;
    display: block;
}



.whitebox{
    font: 14px/140% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: lighter;
    background: #EEEEEC;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeec', endColorstr='#d3d7cf');
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeec), to(#d3d7cf));
    background: -moz-linear-gradient(top,  #eeeeec,  #d3d7cf);
    border: solid 1px #888A85;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 10px;
    float: left;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#copyright {margin-left: 1em;}
#agora-logo{float: right; margin-right: 1em}

#content-main{
    float: left;
    overflow: hidden;
    width: 60%;
}

#content-related{
    float: right;
    overflow: hidden;
    width: 30%;
}

/*** links ***/
a {text-decoration: none;}
a img {border: none;}
a:link    {color: #3465A4; text-decoration: none;}
a:active  {color: #204a87; text-decoration: none;}
a:visited {color: #CE5C00; text-decoration: none;}
a:hover   {color: #729FCF; text-decoration: none;}
h2 a, h3 a, h4 a { text-decoration:none !important; }
a.reference em { font-style: normal; }

/*** nav ***/
#nav-top {height: 0.85em; background:#F8BF69; width: 100%; position: absolute;}
#nav-bot {height: 0.85em; background:#FCAF3E; width: 100%; position: absolute;}
#nav-main{position: relative; z-index: 1; height: 0.85em;}
#nav-right{position: relative; z-index: 1; height: 0.85em;
           float :right;
           color: #2e3436; padding-right: 2em; margin:0;}
#nav{
    margin: 0; font-size: 12px; text-align: right;
    font-weight: normal; width: 100%;
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    float: left; }

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {display: inline;}

#nav li a{
    padding:0em 3em 0.2em 3em;
    color: #6A6354;
    text-decoration:none;
    border-left: solid 1px  #F57900;
}

#nav li a.first{
    border-left: none;
}

#header div.nav { margin-top: -27px; }
#footer div.nav { margin-bottom: -18px; }
#logout-button {
}

/*** basic styles ***/

dd { margin-left:15px; }
h1,h2,h3,h4 {
    color:#555753;
    margin-top:1em;
    font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif; 
    font-weight:normal;
}

h1 { font-size:218%; margin-bottom:.4em; line-height:1.1em; }
h2 { font-size:175%; margin-bottom:.6em; line-height:1.2em; font-weight:bold;}
h3 { font-size:150%; font-weight:normal; margin-bottom:.2em; text-align:left;}
h4 { font-size:125%; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }
div.figure { text-align: center; }
div.figure p.caption { font-size:1em; margin-top:0; margin-bottom:1.5em; color: #555;}
hr { color:#ccc; background-color:#ccc; height:1px; border:0; }
p, ul, dl { margin-top:.6em; margin-bottom:1em; padding-bottom: 0.1em; text-align: left;}
caption { font-size:1em; font-weight:bold; margin-top:0.5em; margin-bottom:0.5em; margin-left: 2px; text-align: center; }
blockquote { padding: 0 1em; margin: 1em 0; font:125%/1.2em "Trebuchet MS", sans-serif; border-left:2px solid; } 
strong { font-weight: bold; }
em { font-style: italic; }
ins { font-weight: bold; text-decoration: none; }

/*** IE hacks ***/
* pre { width: 100%; }
